{
  "apiBase": "http://localhost:3000/api",
  "clientId": "",
  "thetaZoomMaxRange": 8,
  "defaultLayout": "gallery",
  "room": {
    "entranceScreen": "none"
  },
  "toolbar": {
    "isHidden": false,
    "isHiddenCameraButton": false,
    "isHiddenMicButton": false,
    "isHiddenScreenShareButton": false,
    "isHiddenDeviceSettingButton": false,
    "isHiddenExitButton": false,
    "customItems": []
  },
  "subView": {
    "enableAutoVideoReceiving": true,
    "menu": {
      "isHidden": false,
      "isHiddenRecordingButton": false,
      "isHiddenSharePoVButton": true
    }
  },
  "theme": {
    "primary": "#303030",
    "background": "#f7f7fa",
    "surface": "#fff",
    "onPrimary": "#fff",
    "primaryTextColor": "rgba(0, 0, 0, 0.87)",
    "secondaryTextColor": "rgba(0, 0, 0, 0.54)",
    "components": {
      "participantsVideoContainer": {
        "background": "rgba(0, 0, 0, 0.05)",
        "subViewSwitchBackgroundColor" : "#fff",
        "subViewSwitchIconColor" : "rgba(0, 0, 0, 0.87)"
      },
      "toolbar": {
        "background": "#303030",
        "iconColor": "#fff"
      },
      "video": {
        "background": "#000",
        "textColor": "#fff",
        "textBackgroundColor": "#000",
        "iconColor": "#fff",
        "menuBackgroundColor": "#fff",
        "menuTextColor": "rgba(0, 0, 0, 0.87)",
        "highlightBorderColor": "#661fff",
        "highlightShadowColor": "#661fff"
      },
      "dialog": {
        "inputFocusColor": "#303030"
      }
    }
  }
}
